{% extends 'chat/layout.html' %}
{% block body %}

<h1>Let's chat!</h1>

<div class="container">
    <div class="content">
<div id="messages">
    {% for message in messages %}
    <div class="message">
        <p class="message-user">{{ message.user.username }}:</p>
        <p class="message-content">{{ message.message }}</p>
        <p class="message-timestamp">Timestamp: {{ message.timestamp }}</p>
    </div>
    {% endfor %}
</div>



<form id="form">
    {% csrf_token %}
    <div class="form-group">
      <textarea style="height: 100px;" id="new-post" class="form-control" name="message" placeholder="Enter text: " required></textarea>
    </div>
    <div class="text-right">
      <button id="post-btn" type="submit" class="btn btn-primary">Post</button>
    </div>
</form>
</div>
</div>
<style>
    .message {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.message-user {
    font-weight: bold;
}

.message-timestamp {
    font-size: 0.8em;
    color: #999;
}


</style>

{% endblock %}
